.imageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    .__imageItem{
        padding: 5px;
        border: 1px solid gray;
        border-radius: 3px;
        background-color: white;
        img{

            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            // width: 300px;

            max-height: 200px;
        }
        
    }
}